# Clerk

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL = "/auth/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL = "/auth/sign-up"

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL = "/dashboard/overview"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://wcasbqkqxfowzymhrfny.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjYXNicWtxeGZvd3p5bWhyZm55Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU2NDUwODYsImV4cCI6MjA2MTIyMTA4Nn0.9gksJmdqMvlM7Kiy6yWbhXUXcDFtFgzlI_Oqp5D4SZA

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000